.btn {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 40px;
    padding: 8px 16px;
}

.register {
    text-align: center;
}

.boldLink {
    font-weight: 600;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.formAuth {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
