@use '~/styles/variables.scss' as *;

.btn {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 8px 16px;
}

.register {
    text-align: center;
}

.link {
    font-weight: 600;
    color: black;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.formAuth {
    display: flex;
    flex-direction: column;
    width: $auth-card-width;
    max-height: $auth-card-max-height;
    padding: $auth-card-padding;
    border: $border-color;
    border-radius: $auth-card-border-radius;
    background-color: $bg-white;
    row-gap: 25px;
}

.errorMessage {
    color: red;
    text-align: center;
}
