.formField {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.btn {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 40px;
    padding: 8px 16px;
}

.register {
    text-align: center;
}

.danger {
    color: red;
}


span {
    font-weight: 600;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    text-decoration: underline;
}

label {
    font-weight: 600;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

input {
    height: 2.75rem;
}
