.formField {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.btn {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 40px;
    padding: 8px 16px;
}

.register {
    text-align: center;
}

.danger {
    color: red;
}


.boldLink {
    font-weight: 600;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.fieldName {
    font-weight: 600;
    font-size: 1rem;
}

.formAuth {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.inputField {
    height: 2.75rem;
}
