@use '~/styles/variables.scss' as *;

.authPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: $auth-page-width;
  height: $auth-page-height;
  margin: 0 auto;
}