@use '~/styles/variables.scss' as *;
@use '~/styles/mixins.scss' as *;


.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    background-color: $light-gray-color;
    border-radius: 50%;
}