@use '~/styles/variables.scss' as *;
@use '~/styles/mixins.scss' as mixins;

.userCard {
    @include mixins.mainContent;
    padding: $content-padding;
    border: $border-color;
    border-radius: $auth-card-border-radius;
    background-color: $bg-white;
    margin-top: 20px;
    div {
        border: none;
    }
}

.content {
    @include mixins.mainContent;
    padding: $content-padding;
    border: $border-color;
    border-radius: $auth-card-border-radius;
    background-color: $bg-white;
}

.subHeader {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-weight: 400;
    font-size: 1.25rem;
}

.noPosts {
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
}
