@use '~/styles/variables.scss' as *;
@use '~/styles/mixins.scss' as mixins;

.content {
    @include mixins.mainContent;
    padding: $content-padding;
    border: $border-color;
    border-radius: $auth-card-border-radius;
    background-color: $bg-white;
}
