.scrollable {
    overflow: auto;
    margin-top: 20px;
}

.toTop {
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
}

.itemsContainer {
    width: 100%;
    position: relative;
}

.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
