@use '~/styles/variables.scss' as *;
@use '~/styles/mixins.scss' as *;

.text {
    margin: 0 auto;
}

.postList {
    display: flex;
    flex-direction: column;
    background-color: $bg-white;
    margin-top: 20px;
    padding: $content-padding;
}

.postItemHeader {
    display: flex;
    justify-content: space-between;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    display: flex;
    gap: 0.75rem;
}

.icons {
    display: flex;
    gap: 1rem;
    > *:hover {
        background: rgba(202, 204, 207, 0.6);
    }
}

.heart {
    font-size: $icon-font-size;
    color: $danger-color;
    padding: 0.75rem;
    border-radius: 0.375rem;
}

.like {
    font-size: $icon-font-size;
    padding: 0.75rem;
    border-radius: 0.375rem;
}