@use '~/styles/variables.scss' as *;
@use '~/styles/mixins.scss' as mixins;

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $content-padding;
    border: $border-color;
    border-radius: 0.5rem;
    background-color: $bg-white;
}

.username {
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.bio {
    font-weight: 300;
    font-size: 0.875rem;
    margin-top: 5px;
}

.followers {
    font-weight: 100;
    font-size: 0.875rem;
    margin-top: 5px;
    padding: 2px;
}

.goToEdit {
  @include mixins.navItem;
  width: 200px;
  color: $text-color;
  margin: 0;
}

.goToEdit:hover {
        background: rgb(202 204 207 / 60%);
}   

.userInfo {
    text-align: center;
}

.userCounts {
    display: flex;
    justify-content: space-between;
}