@use '~/styles/variables.scss' as *;
@use '~/styles/mixins.scss' as *;

.content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.addPostForm {
    padding: $content-padding;
    border: $border-color;
    border-radius: $auth-card-border-radius;
    background-color: $bg-white;
}

.btn {
    display: block;
    width: 146px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 0;
    padding: 8px 24px;
}
