@use '~/styles/variables.scss' as *;
@use '~/styles/mixins.scss' as *;

.addPostForm {
    padding: $content-padding;
    background-color: $bg-white;
    border: $border-color;
    border-radius: $auth-card-border-radius;
}

.btn {
    display: block;
    width: 146px;
    height: 40px;
    margin: 0 auto;
    padding: 8px 24px;
    margin-right: 0;
    margin-top: 10px;
}

.contentWrap {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
