@mixin mainContent {
    margin: 0 auto;
    max-width: 44rem;
    padding: 1.5rem;
}

@mixin hideContent {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
}

@mixin navItem {
    height: 40px;

    margin: 20px auto 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 0.375rem;
    cursor: pointer;
    text-decoration: none;
}
