//Forms

// Цвета
$gray-color: rgb(82 82 82);
$light-gray-color: rgba(82 82 82 / 0.2);
$primary-color: #007bff;
$text-color: #000;
$danger-color: red;
$bg-white: rgb(255 255 255);
$bg-gray: rgb(245, 245, 245);

// Рамка
$border-color: 1px solid #80808036;

// Размеры
$btn-height: 40px;
$input-height: 2.75rem;
$form-row-gap: 25px;
$field-row-gap: 10px;

// Отступы
$btn-padding-vertical: 8px;
$btn-padding-horizontal: 16px;

// Шрифты
$font-weight-bold: 600;
$label-font-size: 1rem;

//Auth
// Размеры
$auth-page-width: 1168px;
$auth-page-height: 800px;
$auth-card-width: 472px;
$auth-card-max-height: 100%;
$auth-card-padding: 2.5rem;
$auth-card-border-radius: 0.5rem;


// Шрифты
$header-font-size: 3rem;
$subheader-font-size: 1.125rem;
$subheader-line-height: 1.75rem;
$header-font-weight: 400;
$subheader-font-weight: 100;

