@use '~/styles/variables.scss' as *;

.icons {
    display: flex;
    gap: 1rem;

    > *:hover {
        background: rgb(202 204 207 / 60%);
    }
}

.like {
    border-radius: 0.375rem;
    font-size: $icon-font-size;
    color: $danger-color;
    cursor: pointer;
}

.comment {
    font-size: $icon-font-size;
    cursor: pointer;
}

.trash {
    font-size: $icon-font-size;
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.375rem;
    user-select: none;
    gap: 10px;
}
