@use '~/styles/variables.scss' as *;

.addPostForm {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: $bg-white;
    border: $border-color;
    border-radius: $auth-card-border-radius;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    background-color: $light-gray-color;
    border-radius: 50%;
}

.btn {
    display: block;
    width: 146px;
    height: 40px;
    margin: 0 auto;
    padding: 8px 24px;
    margin-right: 0;
    margin-top: 10px;
}

.inputWrap {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.errorMessage {
    color: $danger-color;
    display: flex;
    justify-content: center;
}

.input {
    &:focus {
        border-color: $gray-color;
    }
    &:hover {
        border-color: $gray-color;
    }
}