@use '~/styles/variables.scss' as *;

.header {
  font-size: $header-font-size;
  font-weight: $header-font-weight;
  text-align: center;
}

.subheader {
  font-size: $subheader-font-size;
  font-weight: $subheader-font-weight;
  line-height: $subheader-line-height;
  text-align: center;
  color: $subheader-text-color;
}