.formField {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.fieldName {
    font-weight: 600;
    font-size: 1rem;
}

.inputField {
    height: 2.75rem;
}

.danger {
    color: red;
}
