.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.label {
    font-size: 1rem;
    font-weight: 600;
}

.input {
    height: 2.75rem;
}

.errorMessage {
    color: red;
}
